	table th {
		background-color: #EEEEEE;
	}
	
	table {
		margin: auto;
	}
	
	table td {
		font-size: 12px;
	}
	
	#cont h2 {
		border-bottom: 1px dotted gray;
		width: 760px;
		margin: auto;
		margin-bottom: 10px;
		padding-bottom: 2px;
	}
	
	#cont #directions {
		margin-top: 1px;
		width: 345px;
		height: 390px;
		overflow: auto;
	}
	
	#cont #directions,#cont #googleMaps {
		border: 1px solid silver;
		border-bottom: 1px solid gray;
		border-right: 1px solid gray;
	}
	
	#cont #googleMaps {
		width: 405px;
		height: 400px;
	}
	
	#cont #botao{
	padding: 1px;
	}